<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/mvc
       http://www.springframework.org/schema/mvc/spring-mvc.xsd">

	<mvc:annotation-driven />

	<mvc:default-servlet-handler />

	<mvc:view-controller path="/index" view-name="index" />
	<mvc:view-controller path="/home/main" view-name="homeMain" />
	<mvc:view-controller path="/manager/main" view-name="managerMain" />
	<mvc:view-controller path="/admin/main" view-name="adminMain" />
	<mvc:view-controller path="/member/main" view-name="memberMain" />

	<bean id="viewResolver"
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/WEB-INF/view/" />
		<property name="suffix" value=".jsp" />
	</bean>

</beans>
