<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:sec="http://www.springframework.org/schema/security" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans   
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/security
       http://www.springframework.org/schema/security/spring-security.xsd">

	<sec:http>
		<sec:intercept-url pattern="/member" access="ROLE_USER" />
		<sec:intercept-url pattern="/admin" access="ROLE_ADMIN" />
		<sec:form-login />
		<sec:logout />
	</sec:http>

	<sec:authentication-manager>
		<sec:authentication-provider>
			<sec:user-service>
				<sec:user name="madvirus" password="1234" authorities="ROLE_USER" />
				<sec:user name="admin" password="asdf" authorities="ROLE_ADMIN,ROLE_USER" />
			</sec:user-service>
		</sec:authentication-provider>
	</sec:authentication-manager>
</beans>