<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans   
       http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource"
		destroy-method="close">
		<property name="driverClass" value="com.mysql.jdbc.Driver" />
		<property name="jdbcUrl" value="jdbc:mysql://localhost/guestbook" />
		<property name="user" value="spring4" />
		<property name="password" value="spring4" />
	</bean>


	<bean id="jdbcTemplateMessageDao"
		class="net.madvirus.spring4.chap11.guest.jdbc.JdbcTemplateMessageDao">
		<constructor-arg ref="dataSource" />
	</bean>

</beans>

